<!-- Header -->
<header>
    <nav class="wed_light_nav wed_transp_nav">
        <div class="container">

            <!-- couple header -->
            <img class="wed_couple_header wed_kissing_couple animated" src="/images/3.png" alt="" />
            <img class="wed_couple_header wed_white_couple animated" src="/images/3_white_couple.png" alt="" />
            <!-- couple header end -->
            <!-- Logo -->
            <a href="#" class="wed_logo wed_logo_animation">Lenka &amp; Chris</a>

            <!-- Text Logo -->
            <div class="wed_logo_und">Wedding</div>


            <div class="wed_top_menu_mobile_link">
                <i class="ti ti-menu"></i>
            </div>
            <!-- Top Menu -->
            <div class="wed_top_menu_cont">
                <ul class="wed_top_menu">
                    <li><a href="#home">@Strings.Home</a></li>
                    @*<li class="wed_parent"><a href="#">@Strings.Home</a></li>*@
                    <li><a href="#story">@Strings.OurStory</a></li>
                    <li><a href="#gallery">@Strings.Gallery</a></li>
                    <li><a href="#where">@Strings.WhereAndWhen</a></li>
                    @*<li><a href="#journal">Wedding Journal</a></li>*@
                    <li><a href="#rsvp">RSVP</a></li>
                    <li><a href="@Url.Action("SetCulture", "Home", new { culture = Strings.OtherCulture }, null)"><img src="@Strings.OtherFlagImageUrl" class="flag" /></a></li>
                </ul>
            </div>
            <!-- Top Menu End -->
        </div>
        <!-- container end -->
    </nav>

</header>
<!-- Header End -->
