<!-- White border -->
<div class="wed_water_border">
    <!-- section -->
    <section id="rsvp" class="wed_section_inner wed_image_bck wed_fixed" data-stellar-background-ratio="0.2" data-image="/images/young_couple/dream.jpg">
        <!-- over -->
        <div class="wed_over" data-color="rgb(151, 124, 245)" data-opacity="0.9" data-blend="color"></div>
        <div class="wed_over" data-color="rgb(151, 124, 245)" data-opacity="0.2"></div>

        <div class="container text-center wed_wht_txt wed_great_titles">
            <div class="row">
                <div class="col-md-8 col-md-pull-2 col-md-push-2 col-sm-12">
                    <h2 class="wed_form_txt">@Strings.BeOurGuest</h2>
                    <p class="wed_form_txt">@Strings.RsvpDesc</p>
                    <form id="wed_form" class="wed_form">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="@Strings.RsvpName" name="name" required>
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="@Strings.RsvpEmail" name="email" required>
                            </div>
                            <div class="col-md-12">
                                <select class="form-control" name="guests" required>
                                    <option value="">@Strings.RsvpNumberOfGuests</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <textarea class="form-control" placeholder="@Strings.RsvpMessage" name="message"></textarea>
                                <input type="submit" class="btn btn_new wed_btn_margbot" value="@Strings.RsvpSend">
                            </div>

                        </div>
                    </form>

                </div>
                <!-- col end -->
            </div>
            <!-- row end -->
        </div>
        <!-- container end -->
    </section>
    <!--section end -->
    <!-- To Top -->
    <a href="#wed_page" class="wed_top ti ti-angle-up wed_go"></a>
</div>
<!-- White border end -->
