<!-- White border -->
<div class="wed_white_inner_border">
    <!-- section -->
    <section id="where" class="wed_section_inner">     
        <div class="container-full text-center wed_great_titles">
            <h2>@Strings.WhereAndWhen</h2>

            <div class="row">

                <div class="col-md-4 wed_wht_txt wed_image_bck wed_service_block" data-image="/images/buildings/hotel.jpg">
                    <!-- Over -->
                    <div class="wed_over" data-color="rgb(151, 124, 245)" data-opacity="0.3" data-blend="color"></div>
                    <div class="wed_over" data-color="#000" data-opacity="0.3"></div>

                    <div class="wed_simple_block text-center">
                        <h4>@Strings.Hotel</h4>
                        <br>Caxton Street, London SW1H 0QW<br>Great Britain
                    </div>
                </div>

                <div class="col-md-4 wed_wht_txt wed_image_bck wed_service_block" data-image="/images/buildings/ceremony.jpg">
                    <!-- Over -->
                    <div class="wed_over" data-color="rgb(151, 124, 245)" data-opacity="0.3" data-blend="color"></div>
                    <div class="wed_over" data-color="#000" data-opacity="0.3"></div>

                    <div class="wed_simple_block text-center">
                        <h4>@Strings.Ceremony</h4>
                        <br>
                        <p>
                            The Cloisters Suite<br>St. Ermin's Hotel
                        </p>
                    </div>
                </div>

                <div class="col-md-4 wed_wht_txt wed_image_bck wed_service_block" data-image="/images/buildings/recemption.jpg">
                    <!-- Over -->
                    <div class="wed_over" data-color="rgb(151, 124, 245)" data-opacity="0.3" data-blend="color"></div>
                    <div class="wed_over" data-color="#000" data-opacity="0.3"></div>

                    <div class="wed_simple_block text-center">
                        <h4>@Strings.Reception</h4>
                        <br>Crystal Ballroom<br>St. Ermin's Hotel
                    </div>
                </div>


            </div>
            <!-- Row end -->
        </div>
        <!-- Container end -->
    </section>
    <!-- section end -->
    <!-- section -->
    <section class="wed_section_outter">

        <!-- over -->
        <div class="wed_map_over text-center wed_wht_txt">
            <div class="wed_map_txt wed_icon_box">
                <img class="wed_small_img" src="/images/small_people/rising_heart.png" alt="">
                <div class="wed_icon_box_content">
                    <h4><b>@Strings.OpenTheMap</b></h4>
                </div>
            </div>
        </div>
        <!-- over end -->
        <!-- over -->
        <div class="wed_over" data-color="rgb(193, 176, 249)" data-opacity="0.9"></div>

        <!-- map -->
        <div class="wed_map">
            @*<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1jGGFedWRwKAKcEtq7b7cb4FwXrg" width="100%" height="450"></iframe>*@
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1241.8825677368393!2d-0.13532187896564413!3d51.49917732063004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfaa58fd6db10a0cc!2sSt.+Ermin&#39;s+Hotel%2C+Autograph+Collection!5e0!3m2!1sen!2suk!4v1483869632088" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <!-- map end -->
    </section>
    <!-- section end -->
</div>
<!-- Border End -->
