<section class="details details-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center feature">
                <h2>
                    @Strings.WeddingDetails
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 text-center feature ceremony">
                <h5>@Strings.WeddingCeremony</h5>

                <img src="~/Images/ceremony.jpg">
                <p>
                    <strong>@Strings.WeddingCeremonyLocation</strong><br>
                    @Strings.WeddingCeremonyTime<br>
                    @Strings.WeddingCeremonyAddress1<br>
                    @Strings.WeddingCeremonyAddress2
                </p>
            </div>

            <div class="col-md-5 col-md-offset-0 col-sm-6 text-center feature reception">
                <h5>@Strings.WeddingReception</h5>
                <img src="~/Images/recemption.jpg">
                <p>
                    <strong>@Strings.WeddingReceptionLocation</strong><br>
                    @Strings.WeddingReceptionTime<br>
                    @Strings.WeddingReceptionAddress1<br>
                    @Strings.WeddingReceptionAddress2
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center feature">
                <h2>@Strings.WeddingTimelineTitle</h2>
                <h6>@Strings.WeddingTimelineDetails</h6>
            </div>
        </div>

        <div class="row">
            <ul class="timeline">
                <li class="timeline-item">
                    <div class="timeline-badge"><img src="~/Images/timeline/wedding.png" /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">15:00</h4>
                        </div>
                        <div class="timeline-body">
                            <p>@Strings.Timeline1</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-badge"><img src="~/Images/timeline/toast.png" /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">15:30</h4>
                        </div>
                        <div class="timeline-body">
                            <p>@Strings.Timeline2</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-badge"><img src="~/Images/timeline/cutlery.png" /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">17:00</h4>
                        </div>
                        <div class="timeline-body">
                            <p>@Strings.Timeline3</p>
                        </div>
                    </div>
                </li>

                <li class="timeline-item">
                    <div class="timeline-badge"><img src="~/Images/timeline/wedding-cake.png" /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">19:30</h4>
                        </div>
                        <div class="timeline-body">
                            <p>@Strings.Timeline4</p>
                        </div>
                    </div>
                </li>

                <li class="timeline-item">
                    <div class="timeline-badge"><img src="~/Images/timeline/music.png" /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">20:00</h4>
                        </div>
                        <div class="timeline-body">
                            <p>@Strings.Timeline5</p>
                        </div>
                    </div>
                </li>

                <li class="timeline-item">
                    <div class="timeline-badge"><img src="~/Images/timeline/buffet.png" /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">22:00</h4>
                        </div>
                        <div class="timeline-body">
                            <p>@Strings.Timeline6</p>
                        </div>
                    </div>
                </li>


                <li class="timeline-item">
                    <div class="timeline-badge"><img src="~/Images/timeline/bed.png" /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">01:00</h4>
                        </div>
                        <div class="timeline-body">
                            <p>@Strings.Timeline7</p>
                        </div>
                    </div>
                </li>

            </ul>

        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center feature">
                <h2>St. Ermin's Hotel</h2>
                <h6>@Strings.WeddingHotelDetails</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center feature ceremony">
                <p>
                    @Strings.WeddingStErminsHotelDetails1
                </p>
                <p>
                    @Strings.WeddingStErminsHotelDetails2
                </p>
                <p>
                    @Strings.WeddingStErminsHotelDetails3
                </p>
                <p><a href="http://sterminshotel.co.uk">sterminshotel.co.uk</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <p></p>
            </div>
        </div>
    </div>
    <div class='embed-container maps'>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1241.8834712794833!2d-0.13414293841888125!3d51.49914416106291!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfaa58fd6db10a0cc!2sSt.+Ermin&#39;s+Hotel%2C+Autograph+Collection!5e0!3m2!1sen!2suk!4v1484398070310" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>
