@{
    ViewBag.Title = "Lenka & Chris";
}

<div id="home" class="in-page-link"></div>

@Html.Partial("_home")

<div id="story" class="in-page-link"></div>

@Html.Partial("_story")

@Html.Partial("_saveTheDate")

<div id="wedding" class="in-page-link"></div>

@Html.Partial("_wedding")

<div id="accomm" class="in-page-link"></div>

@Html.Partial("_accomm")

<div id="rsvp" class="in-page-link"></div>

@Html.Partial("_rsvp")

<div id="registry" class="in-page-link"></div>

@Html.Partial("_registry")

<div id="gallery" class="in-page-link"></div>

@Html.Partial("_gallery")