@{
    ViewBag.Title = "Lenka & Chris";
}

<a id="home" class="in-page-link"></a>

@Html.Partial("_home")

<a id="story" class="in-page-link"></a>

@Html.Partial("_story")

@Html.Partial("_saveTheDate")

<a id="wedding" class="in-page-link"></a>

@Html.Partial("_wedding")

<a id="accomm" class="in-page-link"></a>

@Html.Partial("_accomm")

<a id="rsvp" class="in-page-link"></a>

@Html.Partial("_rsvp")

<a id="registry" class="in-page-link"></a>

@Html.Partial("_registry")

<a id="gallery" class="in-page-link"></a>

@Html.Partial("_gallery")