@{
    ViewBag.Title = "Lenka & Chris";
}

<div id="home" class="in-page-link"></div>

@Html.Partial("_home")

<div id="story" class="in-page-link"></div>

@Html.Partial("_story")

@Html.Partial("_section_separator")

@Html.Partial("_saveTheDate")
@Html.Partial("_section_separator")

<div id="wedding" class="in-page-link"></div>

@Html.Partial("_wedding")
@Html.Partial("_section_separator")

<div id="accomm" class="in-page-link"></div>

@Html.Partial("_accomm")
@Html.Partial("_section_separator")

<div id="rsvp" class="in-page-link"></div>

@Html.Partial("_rsvp")
@Html.Partial("_section_separator")

<div id="registry" class="in-page-link"></div>

@Html.Partial("_registry")
@Html.Partial("_section_separator")

<div id="gallery" class="in-page-link"></div>

@Html.Partial("_gallery")
@Html.Partial("_section_separator")